body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(12 18 12);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(12 18 12);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.travelthumb {
  border: none;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align:center;
  margin: 1%;
  width: 30%;
  float: left;
}

.travelthumb-link {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.centered { 
  text-align: center;
}

.clear {
  clear:both;
}

.container { 
  max-width: 960px;
}

.content {
  border-radius: 0 0 10px 10px;
  background-color: rgb(251, 251, 252);
  padding: 20px 30px;
}

.container.page {
  padding: 80px 0;
}

.spacing {
  padding: 50px 0;
}

.blog-post {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.comment span.date {
  position: absolute;
  top: 64px;
  left: 142px;
}

.cookie img {
  width: 77px;
  border-radius: 68px;
  position: relative;
  left: -18px;
  top: 15px;
}

h2 {
  color: rgb(224 165 121);
}

h4 {
  color: rgb(224 165 121);
}

h3 {
  font-size: 3em;
  color:rgb(12 18 12));
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}