<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
		</head>
		<body style="background-color: rgb(33, 14, 5);">
			<nav>
	    		<ul>
	        		<li><a href="/"style="color: rgb(219, 115, 43)">Home</a></li>
		        	<li><a href="{{site.baseurl}}/about/"style="color: rgb(219, 115, 43)">About us</a></li>
	        		<li><a href="{{site.baseurl}}/motorbike/"style="color: rgb(219, 115, 43)">Motorbike</a></li>
	        		<li><a href="{{site.baseurl}}/equipement/"style="color: rgb(219, 115, 43)">Equipment</a></li>
	        		<li><a href="{{site.baseurl}}/etapes/"style="color: rgb(219, 115, 43)">Blog</a></li>
	    		</ul>
			</nav>
			<!--<div id="RightPanel" style="width: 200; height: 100%; text-align: left; vertical-align: bottom; float: right;">
				<h1 style="color:#E0A579;">Side bar</h1>
			</div> -->
			<div class="container">		

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pelmonenmoto@gmail.com"style="color: rgb(219, 115, 43)">email</a></li>
	        		<li><a href="https://github.com/pelmonenmoto"style="color: rgb(219, 115, 43)">github.com/pelmonenmoto</a></li>
				</ul>
			</footer>
		</body>
	</html>