<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
		</head>
		<body style="background-color: rgb(247, 247, 251);">
			<nav style="padding: 30px">
				<div style="margin: 0 auto">
					<div style="max-width: 75%;float:left;">
						<ul>
							{% if page.url contains '/es/' %}
							{% assign lang_string = '/es' %}
							<li><a href="{{site.baseurl}}{{lang_string}}/"style="color: rgb(55, 55, 55)">HOME</a></li>
							{% else %}
							{% if page.url == '/es' %}
							{% assign lang_string = '/es' %}
							<li><a href="{{site.baseurl}}{{lang_string}}/"style="color: rgb(55, 55, 55)">HOME</a></li>
							{% else %}
							{% assign lang_string = '/en' %}
							<li><a href="{{site.baseurl}}/"style="color: rgb(55, 55, 55)">HOME</a></li>
							{% endif %}
							{% endif %}
							<li><a href="{{site.baseurl}}{{lang_string}}/motorbike/"style="color: rgb(55, 55, 55)">{{site.data.languages[page.lang].motorbike}}</a></li>
							<li><a href="{{site.baseurl}}{{lang_string}}/equipement/"style="color: rgb(55, 55, 55)">{{site.data.languages[page.lang].equipment}}</a></li>
							<li><a href="{{site.baseurl}}{{lang_string}}/blog/"style="color: rgb(55, 55, 55)">{{site.data.languages[page.lang].blog}}</a></li>
							<li><a href="{{site.baseurl}}{{lang_string}}/diary/"style="color: rgb(55, 55, 55)">{{site.data.languages[page.lang].diary}}</a></li>
						</ul>
					</div>
					<div style="max-width: 25%;float:right;">
						<ul>
							{% if page.url == '/' %}
							{% assign page_es = site.baseurl | append: '/es' %}
							{% else %}
							{% assign page_es = page.url | replace: "/en/", "/es/" %}
							{% endif %}
							<li><a href="{{site.baseurl}}{{page_es}}"><img src="/pictures/es_ico.png" style="max-height:25px;object-fit: contain" alt=""></a></li>
							{% if page.url == "/es" %}
							<li><a href="{{site.baseurl}}/"><img src="/pictures/en_ico.png" style="max-height:25px;object-fit: contain" alt=""></a></li>
							{% else %}
							{% assign page_en = page.url | replace: "/es/", "/en/" %}
							<li><a href="{{site.baseurl}}{{page_en}}"><img src="/pictures/en_ico.png" style="max-height:25px;object-fit: contain" alt=""></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
			<!--<div id="RightPanel" style="width: 200; height: 100%; text-align: left; vertical-align: bottom; float: right;">
				<h1 style="color:#E0A579;">Side bar</h1>
			</div> -->
			<div class="container">		

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<div style="max-width: 25%;float:right;">
					<ul>
						<li><a href="mailto:pelmonenmoto@gmail.com"style="color: rgb(55, 55, 55)">{% include social-icon.html icon="Email" %}</a></li>
						<li><a href="https://github.com/pelmonenmoto"style="color: rgb(55, 55, 55)">{% include social-icon.html icon="Github" %}</a></li>
						<li><a href="https://www.instagram.com/pelmonenmoto/?hl=es">{% include social-icon.html icon="Instagram" %}</a></li>
					</ul>
				</div>
			</footer>
			{% if jekyll.environment == 'production' %}	
			{% include analytics.html %}
			{% endif %}
		</body>
	</html>